/* основной цвет бэка #F5F5F5 */
/* #FFFFFF цвет бэка хедера  */
/* цвет бэка футера #2F303A */
/* наша команда #F5F4FA */
/* цвет заголовков #212121 */
/* увет текста #757575 */
/*  акцент #2196F3 */
/* roboto 400 700 */

:root {
  --main-background-color: #ffffff;
  --footer-backgroung-color: #2f303a;
  --main-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --list-gap: 30px;
}
/* basic styles */
html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: inherit;
}

/* header styles */

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .logo {
  margin-right: 93px;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child),
.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  color: #000;
}
.logo-start {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts-nav .link {
  color: inherit;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav .link,
.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* main styles */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  text-align: center;
}
.hero {
  background-color: var(--footer-backgroung-color);
}

.hero.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  min-width: 696px;
}

.title,
.subtitle {
  color: var(--title-color);
}
.hero-button {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.button {
  color: var(--title-color);
  background-color: #f5f4fa;
}
.sorter .button:hover,
.sorter .button:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button,
.hero-button {
  cursor: pointer;
}
.list .example {
  text-decoration: inherit;
  color: inherit;
}
.work-example .subtitle,
.hero-title,
.hero-button {
  letter-spacing: 0.06em;
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.specialization.section {
  padding-top: 0;
}
.advantages .subtitle {
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
}
.advantages .text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.advantages .list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.box .subtitle {
  margin-bottom: 10px;
}
.box {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4 - var(--list-gap));
}
.specialization .list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}
.specialization .item {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 3 - var(--list-gap));
}

.specialization .title,
.team .title {
  margin-bottom: 50px;
}

.team .list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.team {
  background-color: #f5f4fa;
}
.team .card {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4 - var(--list-gap));

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.about {
  padding-top: var(--list-gap);
  padding-bottom: var(--list-gap);
}
.team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.sorter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.sorter .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: inherit;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: none;
}
.sorter .item:not(:last-child) {
  margin-right: 8px;
}

.work-example .subtitle {
  font-size: 18px;
  line-height: 2;
}

.work-example > .example-item {
  margin-top: var(--list-gap);
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 3 - var(--list-gap));
}

.work-example .text {
  font-size: 16px;
  line-height: 1.88;
}

.list.work-example {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--list-gap));
  margin-left: calc(-1 * var(--list-gap));
}

.image {
  display: block;
  max-width: 100%;
}
.work-example .subtitle {
  margin-bottom: 4px;
}

.example-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
/* footer styles */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-backgroung-color);
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-end {
  color: var(--main-background-color);
}
.link.map {
  display: inline-block;
}
.address-nav .item:not(:last-child) {
  margin-bottom: 9px;
}
.link .map {
  color: var(--main-background-color);
}
.address-nav > .list {
  font-style: normal;
}

.map {
  color: var(--main-background-color);
}
.contact {
  color: rgba(255, 255, 255, 0.6);
}
.map:hover,
.contact:hover,
.map:focus,
.contact:focus {
  color: var(--accent-color);
}
.map,
.contact {
  font-size: 14px;
  line-height: 1.71;
}
